<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Therapists </title>
    <link rel="stylesheet" href="css/custom css/styles.css">
    <link href="css/Bootstrap/bootstrap-5.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="class=d-flex align-items-center pt-5 my-5 main text-white col-12 rounded-bottom"> 
        <h3>Meet our Therapists</h3>
    </div>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Specialty</th>
                <th>Image</th>
            </tr>
            <tr>
                <td>test name</td>
                <td>placeholder</td>
                <td>pretend this is a photo.jpg</td>
            </tr>
            <tr>
                <td>test again</td>
                <td>placeholder 2</td>
                <td>pretend this is a photo.png</td>
            </tr>
        </table>
    </div>
</body>
</html>